  etf_name_map = {
        "000001": {"cnname":"上证指数","name":"SZ"},
        "000016": {"cnname":"上证50","name":"SZ50"},
        "000300": {"cnname":"沪深300","name":"HS300"},
        "000905": {"cnname":"中证500","name":"ZZ500"},
        "000852": {"cnname":"中证1000","name":"ZZ1000"},
        "932000": {"cnname":"中证2000","name":"ZZ2000"},
        "399006": {"cnname":"创业板","name":"ChuangYe"},
        "000688": {"cnname":"科创50","name":"KeChuang50"},
        "000922": {"cnname":"中证红利","name":"zzHongLi"},
        "000992": {"cnname":"全指金融","name":"qzJinRong"},
        "000991": {"cnname":"全指医药","name":"qzYiYao"},
        "399989": {"cnname":"中证医疗","name":"zzYiLiao"},
        "399812": {"cnname":"养老产业","name":"YangLao"},
        "000990": {"cnname":"全指消费","name":"qzXiaoFei"},
        "000942": {"cnname":"内地消费","name":"ndXiaoFei"},
        "399396": {"cnname":"食品饮料","name":"FoodDrink"},
        "000827": {"cnname":"中证环保","name":"zzHuanBao"},
        "000993": {"cnname":"全指信息","name":"qzXingXi"},
        "399971": {"cnname":"中证传媒","name":"zzChuanMei"},
        "399967": {"cnname":"中证军工","name":"zzJunGong"},
        "399975": {"cnname":"证券公司","name":"ZhengQuan"},
        "HSI": {"cnname":"恒生指数","name":"HK"},
        "H30533": {"cnname":"中概互联","name":"ZhongGai"},
        "H11136": {"cnname":"中国互联","name":"CNHuLian"},
        "HSTECH": {"cnname":"恒生科技","name":"HKKeJi"},
        "HSHCI": {"cnname":"恒生医疗","name":"HKYiLiao"},
        "00700": {"cnname":"腾讯","name":"Tencent"},
        "GDAXI": {"cnname":"德国dax","name":"Dax"},
        "SPX": {"cnname":"标普500","name":"BP500"},
        "IXIC": {"cnname":"纳斯达克","name":"NSDK"},
        "NDX": {"cnname":"纳斯达克100","name":"NSDK100"},
        "518880": {"cnname":"黄金etf","name":"Gold"},
        "USDCNH": {"cnname":"美元人民币","name":"USD"},
        "JPYCNY": {"cnname":"日元人民币","name":"JPY"}
    }